<a href="https://colab.research.google.com/github/Dibakar88/Dibakar88/blob/main/MCDA_research_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Social indicator normalization**

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import os

In [ ]:
df=pd.read_excel ("/content/Normalization.xlsx")

In [ ]:
df

,Zila,Bagerhat,Barguna,Barisal,Bhola,Chandpur,Chittagong,Cox's Bazar,Feni,Gopalganj,Jessore,Jhalakati,Khulna,Lakshmipur,Narail,Noakhali,Patuakhali,Pirozpur,Satkhira,Shariatpur
0,Population density (per sqr km),373.00,488.00,840.00,522.00,1468.00,1442.00,919.00,1451.00,798.00,1060.00,966.00,528.00,1200.00,746.00,843.00,477.00,871.00,520.00,984.00
1,Percent of Population 14 or younger,32.15,34.10,35.95,40.60,37.13,34.09,43.22,35.30,37.25,30.80,34.54,29.92,39.39,34.90,40.57,36.13,33.74,30.32,38.59
2,Population ages 65 and above (%) (WB),6.50,5.90,5.70,4.70,5.90,3.80,3.20,5.50,5.50,5.20,6.60,5.30,5.10,5.80,4.80,5.80,6.60,5.60,6.00
3,Percentage Education (Secondary completed)(WB),12.80,11.10,15.20,8.80,12.90,19.10,8.60,17.00,11.00,13.40,17.10,16.80,10.40,11.30,12.00,11.70,14.40,10.90,7.30
4,Percentage of Earthen Roads(LGED),62.00,76.81,72.53,55.12,63.43,66.01,65.20,47.20,52.00,64.71,73.21,50.10,66.40,66.00,64.10,79.52,60.60,62.72,57.70
5,Number of people against single healthcare pro...,2806.08,5222.22,1558.89,6755.76,3705.54,1634.05,4010.49,3488.76,2505.16,1674.46,3970.93,1500.97,4237.74,3389.67,2541.29,4162.20,2914.28,4493.12,5092.51
6,"Access to mobile(haque,2020)",6.30,10.00,10.00,10.00,1.90,1.90,1.90,1.90,6.30,6.30,10.00,6.30,1.90,NaN,1.90,10.00,10.00,6.30,0.00
7,Households with Electricity (%)(WB),40.70,29.00,54.00,26.40,55.50,79.30,32.10,73.40,48.80,61.20,48.60,64.30,44.20,45.90,51.20,31.90,42.60,42.20,43.60
8,"Households without toilet, open defecation (%)...",1.90,2.60,1.40,6.20,2.60,2.50,11.80,1.80,2.20,4.50,1.30,3.80,4.20,2.90,5.50,3.20,1.40,3.80,2.30
9,Percent employed in agriculture(WB),56.30,64.20,51.30,67.40,51.40,17.50,49.10,30.50,65.40,54.40,47.50,39.90,54.40,65.70,45.70,61.60,51.20,66.70,61.30
10,Percentage Households with safe water (WB),15.78,21.42,21.29,20.22,19.85,18.95,16.52,18.42,20.56,23.21,22.10,20.31,19.34,21.98,17.47,22.13,18.35,19.99,20.54
11,extreme Poverty headcount ratio (%) (WB),42.80,19.00,54.80,33.20,51.00,11.50,32.70,25.90,42.70,39.00,40.50,38.80,31.20,20.00,9.60,25.80,44.10,46.30,52.60
12,Percentage of stunted children (%)(WB),38.50,38.50,38.30,42.90,40.10,40.80,46.60,41.30,37.00,39.20,37.00,38.20,42.40,36.70,43.50,40.50,38.20,39.80,41.00
13,Percentage of underweight children (%) (WB),31.40,32.30,31.70,38.10,37.90,33.50,37.10,34.10,32.10,30.50,28.80,29.10,39.70,31.70,39.10,34.30,29.70,33.00,36.30

### **Normalization**

In [ ]:
df.drop([" Zila"], axis=1, inplace=True)

In [ ]:
df.head()

,Bagerhat,Barguna,Barisal,Bhola,Chandpur,Chittagong,Cox's Bazar,Feni,Gopalganj,Jessore,Jhalakati,Khulna,Lakshmipur,Narail,Noakhali,Patuakhali,Pirozpur,Satkhira,Shariatpur
0,373.00,488.00,840.00,522.00,1468.00,1442.00,919.00,1451.0,798.00,1060.00,966.00,528.00,1200.00,746.0,843.00,477.00,871.00,520.00,984.00
1,32.15,34.10,35.95,40.60,37.13,34.09,43.22,35.3,37.25,30.80,34.54,29.92,39.39,34.9,40.57,36.13,33.74,30.32,38.59
2,6.50,5.90,5.70,4.70,5.90,3.80,3.20,5.5,5.50,5.20,6.60,5.30,5.10,5.8,4.80,5.80,6.60,5.60,6.00
3,12.80,11.10,15.20,8.80,12.90,19.10,8.60,17.0,11.00,13.40,17.10,16.80,10.40,11.3,12.00,11.70,14.40,10.90,7.30
4,62.00,76.81,72.53,55.12,63.43,66.01,65.20,47.2,52.00,64.71,73.21,50.10,66.40,66.0,64.10,79.52,60.60,62.72,57.70

In [ ]:
#scaling with MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit (df)
scaled = pd.DataFrame(scaler.transform(df),columns=df.columns)
scaled

,Bagerhat,Barguna,Barisal,Bhola,Chandpur,Chittagong,Cox's Bazar,Feni,Gopalganj,Jessore,Jhalakati,Khulna,Lakshmipur,Narail,Noakhali,Patuakhali,Pirozpur,Satkhira,Shariatpur
0,0.132338,0.092995,0.538430,0.076625,0.395854,0.882333,0.228784,0.415606,0.317944,0.632051,0.243020,0.350127,0.282848,0.219413,0.331221,0.113922,0.298536,0.114984,0.193225
1,0.010787,0.006035,0.022183,0.005318,0.009512,0.019722,0.010308,0.009607,0.014003,0.015749,0.008374,0.017446,0.008851,0.009449,0.015228,0.007918,0.011102,0.005907,0.007578
2,0.001640,0.000632,0.002761,0.000000,0.001080,0.001164,0.000324,0.001061,0.001318,0.000419,0.001335,0.001002,0.000755,0.000856,0.001142,0.000625,0.001785,0.000401,0.001178
3,0.003887,0.001628,0.008860,0.000607,0.002970,0.010538,0.001671,0.004359,0.003516,0.005329,0.003980,0.008683,0.002007,0.002480,0.003977,0.002044,0.004463,0.001582,0.001433
4,0.021432,0.014218,0.045670,0.007468,0.016613,0.039279,0.015791,0.013020,0.019896,0.036055,0.018115,0.030925,0.015227,0.018631,0.024494,0.018351,0.020324,0.013124,0.011330
5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,0.001569,0.001418,0.005522,0.000785,0.000000,0.000000,0.000000,0.000029,0.001638,0.001078,0.002192,0.001670,0.000000,NaN,0.000000,0.001635,0.002952,0.000557,0.000000
7,0.013836,0.005058,0.033772,0.003214,0.014472,0.047422,0.007534,0.020534,0.018618,0.033953,0.011915,0.040410,0.009986,0.012696,0.019414,0.006901,0.014144,0.008554,0.008562
8,0.000000,0.000000,0.000000,0.000222,0.000189,0.000368,0.002470,0.000000,0.000000,0.000000,0.000000,0.000000,0.000543,0.000000,0.001418,0.000000,0.000000,0.000000,0.000452
9,0.019400,0.011802,0.032039,0.009287,0.013365,0.009558,0.011775,0.008231,0.025250,0.029881,0.011638,0.024112,0.012394,0.018543,0.017248,0.014042,0.017096,0.014011,0.012037
10,0.004950,0.003606,0.012771,0.002299,0.004847,0.010446,0.003647,0.004766,0.007335,0.011204,0.005240,0.011027,0.004117,0.005634,0.006131,0.004552,0.005819,0.003606,0.004033
11,0.014585,0.003142,0.034286,0.004222,0.013257,0.005882,0.007683,0.006911,0.016181,0.020659,0.009875,0.023377,0.006917,0.005049,0.003032,0.005434,0.014659,0.009467,0.010329
12,0.013052,0.006878,0.023692,0.005658,0.010314,0.023834,0.011151,0.011328,0.013904,0.020779,0.008993,0.022977,0.009561,0.009980,0.016382,0.008969,0.012634,0.008019,0.008051
13,0.010520,0.005690,0.019454,0.004947,0.009720,0.019361,0.008781,0.009263,0.011946,0.015569,0.006928,0.016899,0.008924,0.008504,0.014649,0.007478,0.009715,0.006504,0.007128

In [ ]:
scaled

,Bagerhat,Barguna,Barisal,Bhola,Chandpur,Chittagong,Cox's Bazar,Feni,Gopalganj,Jessore,Jhalakati,Khulna,Lakshmipur,Narail,Noakhali,Patuakhali,Pirozpur,Satkhira,Shariatpur
0,0.132338,0.092995,0.538430,0.076625,0.395854,0.882333,0.228784,0.415606,0.317944,0.632051,0.243020,0.350127,0.282848,0.219413,0.331221,0.113922,0.298536,0.114984,0.193225
1,0.010787,0.006035,0.022183,0.005318,0.009512,0.019722,0.010308,0.009607,0.014003,0.015749,0.008374,0.017446,0.008851,0.009449,0.015228,0.007918,0.011102,0.005907,0.007578
2,0.001640,0.000632,0.002761,0.000000,0.001080,0.001164,0.000324,0.001061,0.001318,0.000419,0.001335,0.001002,0.000755,0.000856,0.001142,0.000625,0.001785,0.000401,0.001178
3,0.003887,0.001628,0.008860,0.000607,0.002970,0.010538,0.001671,0.004359,0.003516,0.005329,0.003980,0.008683,0.002007,0.002480,0.003977,0.002044,0.004463,0.001582,0.001433
4,0.021432,0.014218,0.045670,0.007468,0.016613,0.039279,0.015791,0.013020,0.019896,0.036055,0.018115,0.030925,0.015227,0.018631,0.024494,0.018351,0.020324,0.013124,0.011330
5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,0.001569,0.001418,0.005522,0.000785,0.000000,0.000000,0.000000,0.000029,0.001638,0.001078,0.002192,0.001670,0.000000,NaN,0.000000,0.001635,0.002952,0.000557,0.000000
7,0.013836,0.005058,0.033772,0.003214,0.014472,0.047422,0.007534,0.020534,0.018618,0.033953,0.011915,0.040410,0.009986,0.012696,0.019414,0.006901,0.014144,0.008554,0.008562
8,0.000000,0.000000,0.000000,0.000222,0.000189,0.000368,0.002470,0.000000,0.000000,0.000000,0.000000,0.000000,0.000543,0.000000,0.001418,0.000000,0.000000,0.000000,0.000452
9,0.019400,0.011802,0.032039,0.009287,0.013365,0.009558,0.011775,0.008231,0.025250,0.029881,0.011638,0.024112,0.012394,0.018543,0.017248,0.014042,0.017096,0.014011,0.012037
10,0.004950,0.003606,0.012771,0.002299,0.004847,0.010446,0.003647,0.004766,0.007335,0.011204,0.005240,0.011027,0.004117,0.005634,0.006131,0.004552,0.005819,0.003606,0.004033
11,0.014585,0.003142,0.034286,0.004222,0.013257,0.005882,0.007683,0.006911,0.016181,0.020659,0.009875,0.023377,0.006917,0.005049,0.003032,0.005434,0.014659,0.009467,0.010329
12,0.013052,0.006878,0.023692,0.005658,0.010314,0.023834,0.011151,0.011328,0.013904,0.020779,0.008993,0.022977,0.009561,0.009980,0.016382,0.008969,0.012634,0.008019,0.008051
13,0.010520,0.005690,0.019454,0.004947,0.009720,0.019361,0.008781,0.009263,0.011946,0.015569,0.006928,0.016899,0.008924,0.008504,0.014649,0.007478,0.009715,0.006504,0.007128

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
x = pd.DataFrame (scaled)
x.to_excel(excel_writer=r'/content/gdrive/MyDrive/Py_practice/MCDA.xlsx')